body {
    background-image: url(Stones2.jpg);
    background-attachment: fixed;
    margin:0
}
body:link
{
    color:black;
}
#logo{
    margin-left: 0%;
    margin: 1%;
    float:left;
    width:180px;
    height:110px;
}
.rocks
{
    height: 160px;
    width: 160px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  
}
.galary
{
    background-color:rgba(197, 197, 197, 0.712);
}
.shop
{

    text-align: center;
    color: rgb(209, 209, 209);
    background-color:rgba(27, 116, 119, 0.712);
}
.text
{
    margin-top: 10px;
    text-align: left;
}
.textsmall
{
    margin-top: 10px;
    text-align: left;
    font-size: 7px;
}
a  {
    text-decoration: none; font-weight:normal;
} 
.one{
    height: 150px;
    margin: 0 auto;
    background-color:rgba(46, 218, 224, 0.473);
    padding-top:10px;
    padding-bottom: 20px;
    font-size: 20px;
}
.calculate {
    color: rgb(209, 209, 209);
    background-color:rgba(27, 116, 119, 0.712);
    margin: 0 auto;
    max-width: 100%; 
}
nav {
    text-align:center;
    display: flex;
}
.dva {
    margin: 0 auto;
    flex: 1 1 1 auto;
    display: flex;
    background-color:rgba(5, 11, 59, 0.822);
    max-width: 100%; 
    font-size: 5px; 
    text-align:center;
}
._1 {
    order:1;
}
._2 {
    order:2;
}
._3 {
    order:3;
}
.dva a {
    color:rgb(182, 186, 250);
    font-size: 18px;
    margin:0;
}      

a:hover {
    color:rgb(16, 126, 2);
}

.tri {
    order:1;
    text-align:left;

    font-size: 15px;
    line-height: 1;
}
#flex {
    background-color:rgba(215, 218, 245, 0.753);
    flex-direction: column;
    flex: 1 1 1 auto;
    display: flex;
    margin: 0 auto;
    max-width:100%; 
    font-size: 15px;
}
.footer {
    background-color:rgb(182, 182, 184); 
    margin:0 auto;
    color:rgb(182, 182, 184);  
    max-width: 100%;
}
table {
     margin:0 auto;
     text-align: center;
}
.table{
    order: 3;
    background-color:rgba(51, 35, 196, 0.342);
}
.tabl{
    margin:0 auto;
    background-color:rgba(51, 35, 196, 0.575);
}
.nechet
{
  background-color:rgba(0, 70, 128, 0.466);
}
.chet{
  background-color:rgba(0, 217, 255, 0.548);
}
.form {
    order: 2;
}
.table, .form{
    margin: 0px;
    padding: 10px;
  }
  .selector
  {
      margin: auto;
      max-width: 50%;
  }


  
.ph{
    width: 150px;
}
.slick-track {
    display: flex;
}
  
.slick-list {
    overflow: hidden;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    width: 30px;
    height: 60px;
    font-size: 0;
    
  }
  .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(141, 15, 15);
    border-radius: 50%;
    outline: none;
  }
  .slider {
    position: relative;
    padding: 0px 60px;
  }    

  
.slick-arrow.slick-prev {
    left: 0;
    height: 30px;
    background: url('face.png') 0 0 / 100% no-repeat;
}
  
.slick-arrow.slick-next {
    right: 0;
    height: 30px;
    background: url('face.png') 0 0 / 100% no-repeat;
    
}
  
.slick-dots {
    display: flex; 
    align-items: center; 
    justify-content: center;
}
  
.slick-dots li {
   list-style: none;
    margin-right: 10px; 
}
  

  
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0); 
    outline: none;
}
@media screen and (min-width: 992px){
    .dva {
        margin: auto;
        flex-direction: column;
        max-width: 80%;

        padding-left: 5%;

    }
    nav {

        display: column;
    }
    #logo
    {
        margin-left: 15%;
    }
    .form{
        order: 3;
    }
    .table{
        order: 2;
    }
    .calculate {
        max-width: 70%; 
    }
    #flex {
        max-width: 70%;
    }

    .ph{
        width: 200px;
    }

    .slick-dots button {
        font-size: 0;
        width: 5px;
        height: 5px;
        background-color: rgb(219, 47, 24);
        border-radius: 50%;
        outline: none;
    }
    .slick-arrow {
        position: absolute;
        top: 35%;
        margin: -10px 0px 0px 0px;
        z-index: 10;
        font-size: 0;
        width: 10px;
        height: 30px;
    }
    .slider {
        position: relative;
        padding: 0px 20px;
    }

    
}


